!
<template>
  <q-item class="flex justify-center block-text block-text__title">
    <q-item-section avatar> Посмотреть ещё </q-item-section>
    <q-item-section avatar>
      <q-icon name="img:./iconRightArrow.svg" />
    </q-item-section>
  </q-item>
</template>

<script>
export default {};
</script>

<style></style>
