<template>
  <div class="flex flex-center page-style">
    <div v-if="isLoggedIn === null">Загрузка</div>
    <div class="page-container animated fadeIn text-center self-start">
      <ActionsStub></ActionsStub>
    </div>
  </div>
</template>

<script>
import { mapState } from "pinia";
import { useAuthStore } from "src/stores/auth";
import { defineAsyncComponent, defineComponent } from "vue";

import ActionsStub from "src/components/ActionsStub.vue";

export default defineComponent({
  name: "ActionsPage",
  data() {
    return {
      confirm: true,
    };
  },

  components: {
    ActionsStub,
  },
  computed: {
    ...mapState(useAuthStore, ["isLoggedIn"]),
  },
});
</script>
<style scoped></style>
