<template>
  <div class="page-style animated fadeIn">
    <!-- content -->
    <div class="row justify-center">
      <div class="static_text_page">
        <h2>Награды</h2>

        <p>
          Мы работаем над развитием наших систем наград, в том числе Омской
          Сталинской Премии.
        </p>
        <p>
          Позже на этой странице вы сможете узнать об этом больше информации, а
          также, являясь лауреатом Омской Сталинской Премии, сможете получить
          грамоту с индивидуальным QR-кодом, в виде NFT и многое другое.
        </p>
        <p>
          На текущий момент актуальную информацию об Омской Сталинской Премии вы
          можете получить в
          <a
            class="text-no-wrap link-style"
            href=" https://vk.com/topic-203394770_49614163
"
            target="_blank"
          >
            этом обсуждении </a
          >.
        </p>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from "pinia";
import { useAuthStore } from "src/stores/auth";
export default {
  computed: { ...mapState(useAuthStore, ["isLoggedIn"]) },
};
</script>
<style lang="sass" scoped>
.static_text_page
  padding: 0.375rem 0.75rem
  font-size: 1rem
  font-weight: 400
  line-height: 1.5
  color: rgba(0, 0, 0, 0.4)
  background-color: rgba(217, 217, 217, 0.8)
  background-clip: padding-box
  border: 1px solid rgba(0, 0, 0, 0.4)
  border-radius: 0.25rem
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out
  clip-path: polygon(13px 0,100% 0,100% calc(100% - 13px),calc(100% - 13px) 100%,0 100%,0 13px)



h2
  font-style: normal
  font-weight: 500
  font-size: 24px
  color: #382659
  line-height: 1.5rem


p
  font-style: normal
  font-weight: 500
  font-size: 20px
  color: #2D2828

.link-style
  font-weight: 500
  color: #2D2828
  text-decoration: none
  border-bottom: 1px dotted

@media (max-width: $breakpoint-xs-max)


  h2
    font-style: normal
    font-weight: 500
    font-size: 18px
    color: #382659
  p
    font-style: normal
    font-weight: 500
    font-size: 16px
    color: #2D2828
</style>
