<template>
  <div class="flex flex-center page-style">
    <div v-if="isLoggedIn === null">Загрузка</div>
    <div class="page-container animated fadeIn text-center self-start">
      <ChangeLog :number-of-articles="0" />
    </div>
  </div>
</template>

<script>
import { mapState } from "pinia";
import { useAuthStore } from "src/stores/auth";
import ChangeLog from "src/components/ChangeLog.vue";
export default {
  components: { ChangeLog },

  computed: { ...mapState(useAuthStore, ["isLoggedIn"]) },
};
</script>
<style scoped></style>
