<template>
  <div class="page-style animated fadeIn">
    <!-- content -->
    <div class="row justify-center">
      <div class="static_text_page">
        <h2>Как можно присоединиться, поддержать трудом и финансово</h2>
        <p>
          Если вы хотите присоединиться и каким-то образом поддержать всю нашу
          работу, сделайте это 😊
        </p>

        <p>
          Ниже описаны разные варианты как можно присоединиться и поддержать, но
          если вы пока не решили как лучше, то в качестве первого шага можете
          подписаться на ежемесячную финансовую поддержку или
          <span style="font-weight: 700"
            >сделать разовую поддержку на Бусти
            <a
              class="text-no-wrap link-style"
              href="          https://boosty.to/universo
"
              target="_blank"
            >
              https://boosty.to/universo
            </a></span
          >
        </p>

        <p>
          Тут важна любая, даже небольшая сумма, потому что каждые 100 рублей, а
          уже тем более 1000 рублей и больше, помогают решать множество мелких
          вопросов, без решения которых сложно двигать всё это большое дело.
        </p>

        <p>
          Комплексно то, что мы делаем называется: создание Общественного
          КиберГосплана на текущем этапе развития которого важной задачей
          является организация современного кинопроизводственного комплекса,
          формирование киновселенной / виртуальных реальностей Мир Великого
          Кольца и создание передовых транспортных систем, которые
          визуализируются на первых шагах в рамках кинопроектов.
        </p>

        <p>
          О том как из виртуального мира мы через несколько этапов всё это
          выводим в реальный мир, можно посмотреть в описании нашей концепции
          Гипервселенная метавселенных.
        </p>

        <p style="font-weight: 700">1. Проектировщики, архитекторы и т.д.</p>
        <p style="font-weight: 700">2. Инженеры, логисты.</p>
        <p style="font-weight: 700">
          3. Программисты, тестировщики, аналитики, сисадмины и другие ИТ-шники.
        </p>
        <p>
          Помогайте в разработке Общественного КиберГосплана, в котором
          создаётся в том числе онлайн-кинотеатр с удобным функционалом
          управления версионностью медиа-проектов и который вместе с Реальным
          виртуальным миром Универсо, является частью Гипервселенной
          метавселенных, а она блок Всемирной автоматизированной системы
          Текнокомо. Вы получите опыт, возможность присоединиться к развиваемом
          нами народному предприятию ПК "Советские роботы", которое занимается
          автоматизацией предприятий и созданием цифровых сервисов для общества.
          На текущий момент, в рамках реализации подхода в стиле "просто,
          надёжно и эффективно", ну или "дёшево и сердито", используются
          проверенный нами технологический стек, в том числе: Django, Strapi,
          Quasar и Godot.
        </p>

        <p style="font-weight: 700">
          4. Специалисты по 2D и 3D визуализации, монтажу видеоряда, работе с
          аудио, цветокоррекции материала, визуальным эффектам (VFX) и т.д.
        </p>
        <p>
          Помогайте на разных этапах постпродакшена в рамках киновселенной Мир
          Великого Кольца. Для начала вы получите опыт и портфолио. Дальше все
          смогут стать частью коллектива и постоянные рабочие места в рамках
          проектов народного предприятия ПК "Советские роботы".
        </p>

        <p style="font-weight: 700">
          5. Специалисты по работе со СМИ и PR, владельцы и авторы
          медиа-проектов, в том числе каналов и групп в социальных сервисах и
          т.д.
        </p>

        <p>
          Помогайте в информационной работе. Для начала вы получите опыт и
          портфолио, дополнительный интересный контент для ваших ресурсов.
          Дальше все смогут стать частью коллектива и постоянные рабочие места в
          рамках проектов народного предприятия ПК "Советские роботы". Со
          списком текущих информационных партнёров можно ознакомиться в этом
          обсуждении. Список материалов для продвижения можно посмотреть по
          ссылке.
        </p>

        <p style="font-weight: 700">
          6. Актёры, операторы, музыканты, режиссеры и другие представители
          отрасли медиа и кинопроизводства.
        </p>

        <p>
          Помогайте на разных этапах съёмки / создания кинопроектов в рамках
          киновселенной Мир Великого Кольца. Для начала вы получите опыт и
          портфолио, в том числе можно реализовать свой творческий проект,
          дипломную работу и т.д. Дальше все смогут стать частью коллектива и
          постоянные рабочие места в рамках проектов народного предприятия ПК
          "Советские роботы".
        </p>

        <p style="font-weight: 700">
          7. Предприниматели, представители коммерческих компаний.
        </p>
        <p style="font-weight: 700">
          8. Общественные деятели, представители общественных организаций.
        </p>
        <p style="font-weight: 700">
          9. Политики, представители государственных и муниципальных
          организаций.
        </p>

        <p style="font-weight: 700">
          10. Единомышленники, которые могут в любом размере помогать финансово,
          могут это сделать через Бусти

          <a
            class="text-no-wrap link-style"
            href="          https://boosty.to/universo
"
            target="_blank"
          >
            https://boosty.to/universo
          </a>
        </p>

        <p>Также можете предлагать другие варианты.</p>
        <p>Пишите мне:</p>
        <p style="font-weight: 700">
          - ВКонтакте

          <a
            class="text-no-wrap link-style"
            href="https://vk.com/vladimirlevadnij"
            target="_blank"
            >https://vk.com/vladimirlevadnij</a
          >
        </p>
        <p style="font-weight: 700">
          - Телеграм
          <a
            class="text-no-wrap link-style"
            href="https://t.me/Vladimir_Levadnij"
            target="_blank"
            >https://t.me/Vladimir_Levadnij</a
          >
        </p>
        <p style="font-weight: 700">
          - Почта
          <a
            class="text-no-wrap link-style"
            href="mailto:info@roboto.pro"
            target="_blank"
            >info@roboto.pro</a
          >
        </p>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from "pinia";
import { useAuthStore } from "src/stores/auth";
export default {
  computed: { ...mapState(useAuthStore, ["isLoggedIn"]) },
};
</script>
<style lang="sass" scoped>
.static_text_page
  padding: 0.375rem 0.75rem
  font-size: 1rem
  font-weight: 400
  line-height: 1.5
  color: rgba(0, 0, 0, 0.4)
  background-color: rgba(217, 217, 217, 0.8)
  background-clip: padding-box
  border: 1px solid rgba(0, 0, 0, 0.4)
  border-radius: 0.25rem
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out
  clip-path: polygon(13px 0,100% 0,100% calc(100% - 13px),calc(100% - 13px) 100%,0 100%,0 13px)



h2
  font-style: normal
  font-weight: 500
  font-size: 24px
  color: #382659
  line-height: 1.5rem


p
  font-style: normal
  font-weight: 500
  font-size: 20px
  color: #2D2828

.link-style
  font-weight: 500
  color: #2D2828
  text-decoration: none
  border-bottom: 1px dotted

@media (max-width: $breakpoint-xs-max)


  h2
    font-style: normal
    font-weight: 500
    font-size: 18px
    color: #382659
  p
    font-style: normal
    font-weight: 500
    font-size: 16px
    color: #2D2828
</style>
