<template>
  <div class="page-style animated fadeIn">
    <!-- content -->
    <div class="row justify-center">
      <div class="static_text_page">
        <h2>Концепция «Гипервселенная»</h2>
        <p>
          Многим уже известно о метавселенных, которые объединяют в единое целое
          виртуальную реальность, дополненную реальность и физическую «реальную
          реальность». На текущий момент разрабатываются и внедряются различные
          варианты метавселенных, которые используются, как для общения и
          развлечения, так и для применения в промышленности.
        </p>
        <br />
        <p>
          Уже длительное время, занимаясь вопросом реализации глобальных и
          просто сложных проектов, изучая, как затрачивая на это минимально
          возможное количество ресурсов, достигать максимально возможного
          результата, мы также занимались изучением и созданием тестовых
          метавселенных. Как говорится: «До того, как это стало мейнстримом». В
          результате нашей работы, мы пришли к пониманию, которое можно выразить
          в следующих трёх пунктах:
        </p>
        <br />
        <p>
          1. Когда метавселенные начнут создавать и массово внедрять, то
          метавселенных будет много и для того, чтобы на самом деле получить
          единое пространство, для различных метавселенных нужна сущность более
          высокого уровня.
        </p>
        <br />
        <p>
          2. Классическое понимание метавселенной охватывает только одну
          физическую реальность — физическую Вселенную. При том, что современные
          учёные приводят всё больше научных доводов о существовании многих
          Вселенных — Мультивселенной, параллельных реальностей и др. Что
          необходимо учитывать.
        </p>
        <br />
        <p>
          3. Концепция метавселенной, по факту, подразумевает первичность
          инструмента по отношению к человеку, вторичность разума человека, а
          значит неминуемо станет и инструментом подавления личности, и
          инструментом глобального порабощения, даже инструментом уничтожения
          человечества. Всему этому необходимо противостоять, взяв от
          метавселенных всё лучшее.
        </p>
        <br />
        <p style="font-weight: 700">
          В результате мы разработали концепцию «Гипервселенная» или
          «Гипервселенная метавселенных», которая является сущностью
          объединяющей все метавселенные в рамках всей мультивселенной, а также
          является бесконечным пространством исследований, автоматизации и
          социального взаимодействия для каждого человека и во благо каждого
          человека.
        </p>
        <br />
        <p>
          Нацелившись на глобальную реновацию мира, с целью достигнуть
          всемирного общества всеобщей социальной справедливости, перехода
          человечества в новый 6-й технологический уклад, мы на первом шаге
          локализовали нашу работу в рамках проекта глобальной реновации Омска и
          Омской области — метапроекта «Омск — столица мира». Реализация таких
          крупных проектов согласно концепции «Гипервселенная» показана на Схеме
          ниже.
        </p>
        <br />
        <a href="hyperuniverse.png" target="_blank">
          <q-img
            src="hyperuniverse.png"
            spinner-color="primary"
            spinner-size="82px"
        /></a>

        <h2>Пояснение к схеме</h2>
        <p>
          1. Представленная схема является одним из возможных вариантов
          упрощённого схематичного отображения контуров и этапов. При
          необходимости, представляя схему более подробнее, можно выделить
          больше контуров, например, отдельно от виртуального мира контур
          дополненной реальности, а также каждый этап можно фрагментировать на
          множество более мелких этапов.
        </p>
        <br />
        <p>
          2. Каждый этап влияет не только на следующий за ним, но и на все этапы
          дальше по цепочке, при этом вся цепь закольцована, поэтому, в конечном
          итоге, каждый этап влияет и на предыдущие этапы.
        </p>
        <br />
        <p>
          3. В подавляющем количестве случаев реализации крупных комплексных
          проектов, каждый этап лучше не реализовывать полностью, сразу и на
          максимальном уровне при первом подходе к нему. В основном, более
          эффективно реализовать часть этапа (часть его подэтапов), пройти
          последовательно дальше и потом вернуться к прошедшим этапам с большим
          количеством ресурсов, компетенций и т.д.
        </p>
        <br />
        <p>
          4. Как создаваемое в виртуальном мире переносится в реальный мир, то
          есть спроектированные в виртуальном мире предметы, дома, города и
          т.д., реализуются в реальном мире, так и то, что есть в реальном, не
          имевшее ранее связь с виртуальным, переносится в виртуальный мир,
          создаются его цифровые двойники, которые постепенно становятся всё
          более связаны с объектом в реальном мире.
        </p>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from "pinia";
import { useAuthStore } from "src/stores/auth";
export default {
  computed: { ...mapState(useAuthStore, ["isLoggedIn"]) },
};
</script>
<style lang="sass" scoped>
.static_text_page
  padding: 0.375rem 0.75rem
  font-size: 1rem
  font-weight: 400
  line-height: 1.5
  color: rgba(0, 0, 0, 0.4)
  background-color: rgba(217, 217, 217, 0.8)
  background-clip: padding-box
  border: 1px solid rgba(0, 0, 0, 0.4)
  border-radius: 0.25rem
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out
  clip-path: polygon(13px 0,100% 0,100% calc(100% - 13px),calc(100% - 13px) 100%,0 100%,0 13px)



h2
  font-style: normal
  font-weight: 500
  font-size: 24px
  color: #382659
  line-height: 1.5rem


p
  font-style: normal
  font-weight: 500
  font-size: 20px
  color: #2D2828

.link-style
  font-weight: 500
  color: #2D2828
  text-decoration: none
  border-bottom: 1px dotted

@media (max-width: $breakpoint-xs-max)


  h2
    font-style: normal
    font-weight: 500
    font-size: 18px
    color: #382659
  p
    font-style: normal
    font-weight: 500
    font-size: 16px
    color: #2D2828
</style>
