<template>
  <div class="page-style animated fadeIn">
    <!-- content -->
    <div class="row justify-center">
      <div class="static_text_page">
        <h2>Метакинокомплекс Технокомо. Сообщество и ДАО</h2>
        <p>
          Понимая, что увлечение NFT-активами, а по сути уникальными токенами,
          может быть неким очередным веянием времени, при этом нужно отметить,
          что NFT не имеет таких пагубных моментов с переработкой природных
          ресурсов в цифровой актив, как это происходит у популярных
          криптовалют, типа Биткоина, поэтому раз людям это нужно, можем это
          предложить, чтобы получить нужные ресурсы для реализации наших
          проектов.
        </p>
        <p class="ellipsis" style="max-width: 65vw">
          <a
            class="text-no-wrap link-style"
            href="      Метакинокомплекс_Текнокомо_версия_1_0_0.pdf
"
            target="_blank"
          >
            Метакинокомплекс_Текнокомо_версия_1_0_0.pdf
          </a>
        </p>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from "pinia";
import { useAuthStore } from "src/stores/auth";
export default {
  computed: { ...mapState(useAuthStore, ["isLoggedIn"]) },
};
</script>
<style lang="sass" scoped>
.static_text_page
  padding: 0.375rem 0.75rem
  font-size: 1rem
  font-weight: 400
  line-height: 1.5
  color: rgba(0, 0, 0, 0.4)
  background-color: rgba(217, 217, 217, 0.8)
  background-clip: padding-box
  border: 1px solid rgba(0, 0, 0, 0.4)
  border-radius: 0.25rem
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out
  clip-path: polygon(13px 0,100% 0,100% calc(100% - 13px),calc(100% - 13px) 100%,0 100%,0 13px)



h2
  font-style: normal
  font-weight: 500
  font-size: 24px
  color: #382659
  line-height: 1.5rem


p
  font-style: normal
  font-weight: 500
  font-size: 20px
  color: #2D2828

.link-style
  font-weight: 500
  color: #2D2828
  text-decoration: none
  border-bottom: 1px dotted

@media (max-width: $breakpoint-xs-max)


  h2
    font-style: normal
    font-weight: 500
    font-size: 18px
    color: #382659
  p
    font-style: normal
    font-weight: 500
    font-size: 16px
    color: #2D2828
</style>
