<template>
  <div class="flex flex-center page-style">
    <div v-if="isLoggedIn === null">Загрузка</div>
    <div class="page-container animated fadeIn text-center self-start">
      <RoadMap :number-of-articles="0" />
    </div>
  </div>
</template>

<script>
import { mapState } from "pinia";
import { useAuthStore } from "src/stores/auth";
import RoadMap from "src/components/RoadMap.vue";
export default {
  components: { RoadMap },
  computed: { ...mapState(useAuthStore, ["isLoggedIn"]) },
};
</script>
<style scoped></style>
