<template>
  <div
    class="page-container animated fadeIn flex column self-center items-center"
  >
    <!-- <q-img
      v-if="!isLoggedIn"
      class="page-logo"
      alt="Teknokomo Logo"
      src="~assets/logo.svg"
      fit="contain"
    /> -->
    <!-- <span class="page-text"> Вы авторизованы </span> -->
    <div
      class="main-block-with-cropped text-black q-pa-sm flex wrap content-center text-left block-text block-padding stub-page"
    >
      <span class="block-text__title text-left">
        Уже скоро здесь вы сможете:</span
      >
      <br />
      - Создавать рабочие пространства.<br />
      - Управлять проектами и задачами.<br />
      - Управлять ресурсами.<br />
      - Использовать шаблоны.<br />
      - Объединять силы с людьми со всего мира.<br />
    </div>
  </div>
</template>

<script>
import { mapState } from "pinia";
import { useAuthStore } from "src/stores/auth";
export default {
  name: "ActionsStub",
  props: {},
  components: {},
  computed: {
    ...mapState(useAuthStore, ["isLoggedIn"]),
  },
};
</script>
<style scoped>
.stub-page {
  height: 340px;
}
@media (max-width: 820px) {
  .stub-page {
    height: unset;
  }
}
</style>
