<template>
  <div class="main-block-with-cropped fit text-black block-text block-padding">
    <div class="block-text block-text__title text-left">История изменений:</div>

    <q-list class="">
      <template
        v-for="(item, idx) of changelog.slice().reverse().slice(0, quantity)"
        :key="idx"
      >
        <q-item class="flex justify-between">
          <q-item-section avatar> v{{ item.version }} </q-item-section>
          <q-item-section avatar>{{ item.date }}</q-item-section>
        </q-item>
        <q-item>
          <q-item-section align="left"
            ><div v-html="item.text"></div
          ></q-item-section>
        </q-item>
      </template>
      <SeeMoreButton v-if="$route.path !== '/changelog'" to="/changelog" />
    </q-list>
  </div>
</template>

<script>
import SeeMoreButton from "./buttons/SeeMoreButton.vue";
export default {
  // name: 'ComponentName',
  props: {
    numberOfArticles: {
      type: Number,
      default: 0,
    },
  },
  computed: {
    quantity: function () {
      return this.numberOfArticles > 0
        ? this.numberOfArticles
        : this.changelog.length;
    },
  },
  setup() {
    const changelog = [
      {
        version: "0.1.0",
        date: "2022-08-01",
        text: `
- Запуск. Понеслось...<br/>
- Создан функционал регистрации пользователей.<br/>
- Создан функционал авторизации пользователей.<br/>
- Создан функционал восстановления пароля пользователя.<br/>
- Создана стартовая страница для неавторизованных пользователей.<br/>
- Создана стартовая страница для авторизованных пользователей с журнализацией изменений проекта.<br/>
- Создан базовый функционал профиля пользователя.<br/>
`,
      },
      {
        version: "0.1.1",
        date: "2022-08-18",
        text: `
- Созданы отдельные страницы для трёх основных разделов.<br/>
- Разрешены скобки в паролях.<br/>
- Улучшена система меню.<br/>
- Заменено фоновое изображение на космические туманности.<br/>
- Стандартизированы по ширине основные блоки.<br/>
- Убраны лишние поля в профиле пользователя.<br/>
- Исправлена ошибка с сохранением никтейма.<br/>
- Множественные мелкие багфиксы интерфейса.<br/>
- Множественные мелкие правки текстов.<br/>
`,
      },
      {
        version: "0.2.0",
        date: "2022-10-09",
        text: `
- Создана новая стартовая страница для неавторизованных пользователей.<br/>
- На основных страницах создана правая область с блоками и баннерами.<br/>
- Размещён персонализированный статический текст на главной странице раздела Действия.<br/>
- Размещён персонализированный статический текст на главной странице раздела Вселенные.<br/>
- Создана страница История изменений.<br/>
- Создана страница Дорожная карта.<br/>
- Создана статическая страница с информацией о Гипервселенной метавселенных.<br/>
- Создана статическая страница с информацией о том как можно помочь в нашей работе.<br/>
- Создана статическая страница с информацией о наших NFT-коллекциях.<br/>
- Сделана обработку длинного никнейма в мини-меню.<br/>
- Подключена Yandex SmartCaptcha вместо Google reCAPTCHA.<br/>
- Подключена Яндекс.Метрика.<br/>
- Подключена рекламная сеть Яндекса.<br/>
`,
      },
    ];
    return { changelog };
  },
  components: { SeeMoreButton },
};
</script>
