<template>
  <div class="page-container animated fadeIn text-center self-start">
    <!-- <q-img
      class="page-logo"
      alt="Teknokomo Logo"
      src="~assets/logo.svg"
      fit="contain"
    /> -->
    <!-- <span class="page-text"> Вы авторизованы </span> -->
    <ChangeLog :number-of-articles="1" />
    <RoadMap :number-of-articles="1" />
  </div>
</template>

<script>
import ChangeLog from "./ChangeLog.vue";
import RoadMap from "./RoadMap.vue";
export default {
  name: "IsAuth",
  props: {},
  components: { ChangeLog, RoadMap },
};
</script>

<style scoped></style>
