<template>
  <div class="main-block-with-cropped fit text-black block-text block-padding">
    <div class="block-text block-text__title text-left">Дорожная карта:</div>

    <q-list class="">
      <template v-for="(item, idx) of roadmap.slice(0, quantity)" :key="idx">
        <q-item class="flex justify-between">
          <q-item-section avatar> {{ item.milestone }} </q-item-section>
        </q-item>
        <q-item>
          <q-item-section align="left"
            ><div v-html="item.text"></div
          ></q-item-section>
        </q-item>
        <SeeMoreButton v-if="$route.path !== '/roadmap'" to="/roadmap" />
      </template>
    </q-list>
  </div>
</template>

<script>
import SeeMoreButton from "./buttons/SeeMoreButton.vue";
export default {
  // name: 'ComponentName',
  props: {
    numberOfArticles: {
      type: Number,
      default: 0,
    },
  },
  computed: {
    quantity: function () {
      return this.numberOfArticles > 0
        ? this.numberOfArticles
        : this.roadmap.length;
    },
  },
  setup() {
    const roadmap = [
      {
        milestone: "3-й квартал 2022",
        text: `
- Базовые статические страницы.<br/>
- Базовый функционал пользователя.<br/>
- Базовые системные разделы.<br/>
- Модули статистики и рекламы.<br/>
`,
      },
      {
        milestone: "4-й квартал 2022",
        text: `
- Рабочие пространства.<br/>
- Доски и карточки.<br/>
- Шаблоны.<br/>
- Управления проектами и задачами.<br/>
- Управление ресурсами.<br/>
- Онлайн-кинотеатр.<br/>`,
      },
    ];
    return { roadmap };
  },
  components: { SeeMoreButton },
};
</script>
