<template>
  <div
    class="page-container animated fadeIn flex column self-center items-center text-center"
  >
    <!-- <q-img
      v-if="!isLoggedIn"
      class="page-logo"
      alt="Teknokomo Logo"
      src="~assets/logo.svg"
      fit="contain"
    /> -->
    <!-- <span class="page-text"> Вы авторизованы </span> -->
    <div
      class="main-block-with-cropped text-black q-pa-sm flex wrap content-center text-left block-text block-padding stub-page"
    >
      <span class="block-text__title text-left"
        >Когда мы доделаем функционал, то здесь вы сможете:</span
      >
      <br />
      - Погрузится в уже существующие метавселенные.<br />
      - Создавать свои метавселенные.<br />
      - Использовать виртуальные пространства, чтобы влиять на реальный мир.<br />
      - Объединяться в Народные предприятия, Профсоюзу, Советы и в другие
      объединения.<br />
    </div>
  </div>
</template>

<script>
import { mapState } from "pinia";
import { useAuthStore } from "src/stores/auth";
export default {
  name: "UniversesStub",
  props: {},
  components: {},
  computed: {
    ...mapState(useAuthStore, ["isLoggedIn"]),
  },
};
</script>

<style scoped>
.page-logo {
  max-height: 25vh;
  max-width: 25vw;
}

.page-text {
  font-size: 4rem;
}

.page-text02 {
  font-size: 2rem;
}

.page-text07 {
  font-size: 1.5rem;
}

.page-text09 {
  font-size: 1.5rem;
}

@media (max-width: 820px) {
  .page-text {
    font-size: 2.5rem;
  }
  .page-text02 {
    font-size: 1.6rem;
  }
  .page-text07 {
    font-size: 1.2rem;
  }
  .page-text09 {
    font-size: 1.2rem;
  }
}
@media (max-width: 530px) {
  .page-text02 {
    font-size: 1.2rem;
  }
}
@media (max-width: 400px) {
  .page-text {
    font-size: 2rem;
  }
  .page-text02 {
    font-size: 0.8rem;
  }
  .page-text07 {
    font-size: 0.8rem;
  }
  .page-text09 {
    font-size: 0.8rem;
  }
}

.stub-page {
  height: 340px;
}
@media (max-width: 820px) {
  .stub-page {
    height: unset;
  }
}
</style>
