// app global css in SCSS form

/* roboto-100 - vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  src: url("./fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-100.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-100.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("./fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-100.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("./fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-100.woff")
      format("woff"),
    /* Modern Browsers */
      url("./fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-100.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-100.svg#Roboto")
      format("svg"); /* Legacy iOS */
}
/* roboto-100italic - vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 100;
  src: url("./fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-100italic.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-100italic.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("./fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-100italic.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("./fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-100italic.woff")
      format("woff"),
    /* Modern Browsers */
      url("./fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-100italic.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-100italic.svg#Roboto")
      format("svg"); /* Legacy iOS */
}
/* roboto-300 - vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url("./fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-300.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-300.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("./fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-300.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("./fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-300.woff")
      format("woff"),
    /* Modern Browsers */
      url("./fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-300.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-300.svg#Roboto")
      format("svg"); /* Legacy iOS */
}
/* roboto-300italic - vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 300;
  src: url("./fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-300italic.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-300italic.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("./fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-300italic.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("./fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-300italic.woff")
      format("woff"),
    /* Modern Browsers */
      url("./fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-300italic.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-300italic.svg#Roboto")
      format("svg"); /* Legacy iOS */
}
/* roboto-regular - vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("./fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("./fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-regular.woff")
      format("woff"),
    /* Modern Browsers */
      url("./fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-regular.svg#Roboto")
      format("svg"); /* Legacy iOS */
}
/* roboto-italic - vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  src: url("./fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-italic.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-italic.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("./fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-italic.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("./fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-italic.woff")
      format("woff"),
    /* Modern Browsers */
      url("./fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-italic.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-italic.svg#Roboto")
      format("svg"); /* Legacy iOS */
}
/* roboto-500 - vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-500.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-500.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("./fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-500.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("./fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-500.woff")
      format("woff"),
    /* Modern Browsers */
      url("./fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-500.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-500.svg#Roboto")
      format("svg"); /* Legacy iOS */
}
/* roboto-500italic - vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 500;
  src: url("./fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-500italic.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-500italic.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("./fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-500italic.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("./fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-500italic.woff")
      format("woff"),
    /* Modern Browsers */
      url("./fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-500italic.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-500italic.svg#Roboto")
      format("svg"); /* Legacy iOS */
}
/* roboto-700 - vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-700.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("./fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-700.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("./fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-700.woff")
      format("woff"),
    /* Modern Browsers */
      url("./fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-700.svg#Roboto")
      format("svg"); /* Legacy iOS */
}
/* roboto-700italic - vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 700;
  src: url("./fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-700italic.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-700italic.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("./fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-700italic.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("./fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-700italic.woff")
      format("woff"),
    /* Modern Browsers */
      url("./fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-700italic.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-700italic.svg#Roboto")
      format("svg"); /* Legacy iOS */
}
/* roboto-900 - vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("./fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-900.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-900.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("./fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-900.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("./fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-900.woff")
      format("woff"),
    /* Modern Browsers */
      url("./fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-900.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-900.svg#Roboto")
      format("svg"); /* Legacy iOS */
}
/* roboto-900italic - vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 900;
  src: url("./fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-900italic.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-900italic.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("./fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-900italic.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("./fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-900italic.woff")
      format("woff"),
    /* Modern Browsers */
      url("./fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-900italic.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./fonts/roboto-v30-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-900italic.svg#Roboto")
      format("svg"); /* Legacy iOS */
}

/* jura-300 - vietnamese_latin-ext_latin_kayah-li_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
  font-family: "Jura";
  font-style: normal;
  font-weight: 300;
  src: url("./fonts/jura-v24-vietnamese_latin-ext_latin_kayah-li_greek-ext_greek_cyrillic-ext_cyrillic-300.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./fonts/jura-v24-vietnamese_latin-ext_latin_kayah-li_greek-ext_greek_cyrillic-ext_cyrillic-300.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("./fonts/jura-v24-vietnamese_latin-ext_latin_kayah-li_greek-ext_greek_cyrillic-ext_cyrillic-300.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("./fonts/jura-v24-vietnamese_latin-ext_latin_kayah-li_greek-ext_greek_cyrillic-ext_cyrillic-300.woff")
      format("woff"),
    /* Modern Browsers */
      url("./fonts/jura-v24-vietnamese_latin-ext_latin_kayah-li_greek-ext_greek_cyrillic-ext_cyrillic-300.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./fonts/jura-v24-vietnamese_latin-ext_latin_kayah-li_greek-ext_greek_cyrillic-ext_cyrillic-300.svg#Jura")
      format("svg"); /* Legacy iOS */
}
/* jura-regular - vietnamese_latin-ext_latin_kayah-li_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
  font-family: "Jura";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/jura-v24-vietnamese_latin-ext_latin_kayah-li_greek-ext_greek_cyrillic-ext_cyrillic-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./fonts/jura-v24-vietnamese_latin-ext_latin_kayah-li_greek-ext_greek_cyrillic-ext_cyrillic-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("./fonts/jura-v24-vietnamese_latin-ext_latin_kayah-li_greek-ext_greek_cyrillic-ext_cyrillic-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("./fonts/jura-v24-vietnamese_latin-ext_latin_kayah-li_greek-ext_greek_cyrillic-ext_cyrillic-regular.woff")
      format("woff"),
    /* Modern Browsers */
      url("./fonts/jura-v24-vietnamese_latin-ext_latin_kayah-li_greek-ext_greek_cyrillic-ext_cyrillic-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./fonts/jura-v24-vietnamese_latin-ext_latin_kayah-li_greek-ext_greek_cyrillic-ext_cyrillic-regular.svg#Jura")
      format("svg"); /* Legacy iOS */
}
/* jura-500 - vietnamese_latin-ext_latin_kayah-li_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
  font-family: "Jura";
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/jura-v24-vietnamese_latin-ext_latin_kayah-li_greek-ext_greek_cyrillic-ext_cyrillic-500.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./fonts/jura-v24-vietnamese_latin-ext_latin_kayah-li_greek-ext_greek_cyrillic-ext_cyrillic-500.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("./fonts/jura-v24-vietnamese_latin-ext_latin_kayah-li_greek-ext_greek_cyrillic-ext_cyrillic-500.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("./fonts/jura-v24-vietnamese_latin-ext_latin_kayah-li_greek-ext_greek_cyrillic-ext_cyrillic-500.woff")
      format("woff"),
    /* Modern Browsers */
      url("./fonts/jura-v24-vietnamese_latin-ext_latin_kayah-li_greek-ext_greek_cyrillic-ext_cyrillic-500.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./fonts/jura-v24-vietnamese_latin-ext_latin_kayah-li_greek-ext_greek_cyrillic-ext_cyrillic-500.svg#Jura")
      format("svg"); /* Legacy iOS */
}
/* jura-600 - vietnamese_latin-ext_latin_kayah-li_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
  font-family: "Jura";
  font-style: normal;
  font-weight: 600;
  src: url("./fonts/jura-v24-vietnamese_latin-ext_latin_kayah-li_greek-ext_greek_cyrillic-ext_cyrillic-600.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./fonts/jura-v24-vietnamese_latin-ext_latin_kayah-li_greek-ext_greek_cyrillic-ext_cyrillic-600.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("./fonts/jura-v24-vietnamese_latin-ext_latin_kayah-li_greek-ext_greek_cyrillic-ext_cyrillic-600.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("./fonts/jura-v24-vietnamese_latin-ext_latin_kayah-li_greek-ext_greek_cyrillic-ext_cyrillic-600.woff")
      format("woff"),
    /* Modern Browsers */
      url("./fonts/jura-v24-vietnamese_latin-ext_latin_kayah-li_greek-ext_greek_cyrillic-ext_cyrillic-600.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./fonts/jura-v24-vietnamese_latin-ext_latin_kayah-li_greek-ext_greek_cyrillic-ext_cyrillic-600.svg#Jura")
      format("svg"); /* Legacy iOS */
}
/* jura-700 - vietnamese_latin-ext_latin_kayah-li_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
  font-family: "Jura";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/jura-v24-vietnamese_latin-ext_latin_kayah-li_greek-ext_greek_cyrillic-ext_cyrillic-700.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./fonts/jura-v24-vietnamese_latin-ext_latin_kayah-li_greek-ext_greek_cyrillic-ext_cyrillic-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("./fonts/jura-v24-vietnamese_latin-ext_latin_kayah-li_greek-ext_greek_cyrillic-ext_cyrillic-700.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("./fonts/jura-v24-vietnamese_latin-ext_latin_kayah-li_greek-ext_greek_cyrillic-ext_cyrillic-700.woff")
      format("woff"),
    /* Modern Browsers */
      url("./fonts/jura-v24-vietnamese_latin-ext_latin_kayah-li_greek-ext_greek_cyrillic-ext_cyrillic-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./fonts/jura-v24-vietnamese_latin-ext_latin_kayah-li_greek-ext_greek_cyrillic-ext_cyrillic-700.svg#Jura")
      format("svg"); /* Legacy iOS */
}

body {
  font-family: "Jura";
  font-size: 20px;
}
:root {
  --corner-size: 13px;
  --animate-duration: 1s;
  --animate-delay: 1s;
}
.main-block-with-cropped {
  color: rgba(0, 0, 0, 0.4);
  background-color: rgba(217, 217, 217, 0.9);
  background-clip: padding-box;
  // border: 1px solid rgba(0, 0, 0, 0.4);
  // border-radius: 0.25rem;
  // transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  clip-path: polygon(
    var(--corner-size) 0,
    100% 0,
    100% calc(100% - var(--corner-size)),
    calc(100% - var(--corner-size)) 100%,
    0 100%,
    0 var(--corner-size)
  );
  font-weight: 900;
}
.main-block-with-cropped-mirrored {
  color: rgba(0, 0, 0, 0.4);
  background-color: rgba(217, 217, 217, 0.9);
  background-clip: padding-box;
  // border: 1px solid rgba(0, 0, 0, 0.4);
  // border-radius: 0.25rem;
  // transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  clip-path: polygon(
    0 0,
    calc(100% - var(--corner-size)) 0,
    100% var(--corner-size),
    100% 100%,
    var(--corner-size) 100%,
    0 calc(100% - var(--corner-size))
  );
  font-weight: 900;
}

.mybutton .q-icon {
  font-size: 22px;
}
.block-text {
  font-size: 20px;
  font-weight: 400;
}
.block-text__title {
  font-size: 24px;
}
.block-padding {
  padding: 20px;
}
@media (max-width: 820px) {
  .block-text {
    font-size: 16px;
  }
  .block-text__title {
    font-size: 18px;
  }
  .block-padding {
    padding: 14px;
  }
}
.page-container {
  display: grid;
  width: 100%;
  gap: 20px;
  color: rgba(255, 255, 255, 1);
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  text-decoration: none;
}
.page-style {
  z-index: 1;
  max-width: 820px;
  width: 100%;
  padding: 20px;
}
@media (max-width: 400px) {
  .page-style {
    padding: 5px 5px 20px;
  }
}
