/* app global css */
:root {
/*  --q-size-xs: 0;
  --q-size-sm: 600px;
  --q-size-md: 1024px;
  --q-size-lg: 1440px;
  --q-size-xl: 1920px;*/

  --top-padding: 35px;
  --bottom-padding: 60px;
  --header-height: 120px;
  --top: calc(var(--header-height) + var(--top-padding)); /*container top*/
  --bottom: 81px; /*container bottom (footer)*/
  --breadcrumbs-height: 50px;
  --container-width: 1740px;
  --container-header-width: 1520px;
  --container-middle-width: 1150px;
  --container-min-width: 955px;
  --cabinet-left-margin: 420px;


}

@media (max-width: 1615px) {
  :root {
    --cabinet-left-margin: 0px;
  }
}

@media (max-width: 1439px) {
  :root {
    --header-height: 90px;
  }
}

@media (max-width: 535px) {
  :root {
    --bottom: -40px;
    --cabinet-left-margin: 0px;
  }
}

.container {
  display: flex;
  flex-grow: 1;
  max-width: var(--container-width);
  margin: auto;
}

.container-header {
  display: flex;
  flex-grow: 1;
  max-width: var(--container-header-width);
  margin: auto;
}

.container-max {
  display: flex;
  flex-grow: 1;
  margin: auto;
}

.container-middle {
  display: flex;
  flex-grow: 1;
  max-width: var(--container-middle-width);
  margin: auto;
}

.container-min {
  display: flex;
  flex-grow: 1;
  max-width: var(--container-min-width);
  margin: auto;
}


body, .my-font-first {
  font-family: "Roboto", sans-serif;
}

.my-font-second {
  font-family: 'Montserrat', sans-serif;
}

.my-font-europe_ext {
  font-family: 'EuropeExt';
}

.text-bullets {
  color: #562f7b;
}

.bg-bullets {
  background: #562f7b;
}

.flex-break {
  flex: 1 0 100% !important
}

.row .flex-break {
  height: 0 !important
}

.column .flex-break {
  width: 0 !important
}

.my-no-wrap {
  white-space: nowrap
}

.color-title {
  color: #562F7B;
}

.color-title-bg {
  background: #562F7B;
}

.color-icons {
  color: #0FAB9D;
}

.color-icons-bg {
  background: #0FAB9D;
}

.rectangle {
  height: 11px;
  width: 11px;
  background: #0FAB9D;
  border-radius: 2px;
  transform: rotate(-45deg);
}

.no-decoration {
  text-decoration: none;
}
