<template>
  <router-link to="/howcanwehelp" style="text-decoration: none">
    <div
      class="main-block-with-cropped-mirrored banner flex flex-center banner-one"
    >
      Присоединяйтесь к нашей команде
    </div></router-link
  >
</template>

<script>
export default {
  name: "BannerOne",
  setup() {
    return {};
  },
};
</script>
<style scoped>
.banner-one {
  background: #5d76fb;
}
</style>
