<template>
  <router-link to="/nft" style="text-decoration: none">
    <div
      class="main-block-with-cropped-mirrored banner flex flex-center banner-two"
    >
      Станьте обладателем наших уникальных NFT
    </div></router-link
  >
</template>

<script>
export default {
  name: "BannerTwo",
  setup() {
    return {};
  },
};
</script>
<style scoped>
.banner-two {
  background: #5e2b4d;
}
</style>
