<template>
  <a
    href="https://boosty.to/universo"
    target="_blank"
    style="text-decoration: none"
  >
    <div
      class="main-block-with-cropped-mirrored banner flex flex-center banner-three"
    >
      Поддержите нашу работу на Boosty
    </div></a
  >
</template>

<script>
export default {
  name: "BannerThree",
  setup() {
    return {};
  },
};
</script>
<style scoped>
.banner-three {
  background: #f15f2c;
}
</style>
